* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full-page
{
    height: 100%;
    width: 100%;
    background-color: #fe5b3d;
    background-position: center;
    background-size: cover;
    position: absolute;
}

#login-form {
  display: inline-table;
  position: absolute;
  padding-left: 450px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 50px;

  }
.form-box {
  width: 380px;
  height: 520px;
  position:absolute;
  margin: 2% auto;
  background: white;
  box-shadow: 0 8px 8px -4px  #ffac38;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ffac38;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #f3c693;
  border-radius: 30px;
  transition: 0.5s;
}
.input-group-login {
  top: 150px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-group-register {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn {
  width: 75%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #f3c693;
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box {
  margin: 30px 10px 34px 0;
}
span {
  color: #777;
  font-size: 12px;
  bottom: 75px;
  position: absolute;
}
#login {
  left: 50px;
}
#login input {
  color: black;
  font-size: 15;
}
#register {
  left: 450px;
}
#register input {
  color: black;
  font-size: 15;
}
.input[type=text], Select{
	width:80%;
	padding:12px 20px;
	margin: 8px 0;
	display: inline-block;
	border : 1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
}
