.services-container{
    display: grid;
    grid-template-columns: repeat(autofit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.services-container .box{
    padding:10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.services-container .box .box-img{
    width: 100px;
    height: 300px;
}
.h1{
    font-size: 3.5rem;
    letter-spacing: 2px;
}
.services-container .bo p{
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1 rem 0 1rem;
}
.services-container .box h3{
    font-weight: 500;
}
.services-container .box h4{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}